<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="col-md-10 bg-secondary mx-auto mt-5 p-2 rounded text-white">
        <div class="row">
            <img class="col-md-2" src="../assets/image/blockD/blockD20.png" alt="">
            <div class="col-md-10">
                <div class="col-md-5"></div>
                <h2 class="">Devis N°2</h2>
                <span>Block A2</span>
                <span>Block A2</span>
                <span>Block A2</span>
                <span>Block A2</span>
                <span>Block A2</span>
                <span>Block A2</span>
                <span>Block A2</span>
                <span>Block A2</span>
                <span>Block A2</span>
                <span>Block A2</span>
                <span>Block A2</span>
                <span>Block A2</span>
                <span>Block A2</span>
                <span>Block A2</span>
                <span class="badge badge-success col-md-1 mr-5">Terminé</span>
                <div class="row mx-auto mt-2 justify-content-end align-items-center">
                    <a href="" class="col-md-2 btn btn-primary mt-5">Details</a>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>